<div class="container" id="contact-form-confirmation">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading"><p>Message received</p></div>
            <div class="panel-body"><p>Thank you. We have received your message and will respond as soon as possible.</p></div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
