<div class="col-sm-12" id="signup-links">
  <p>
    <div class="col-sm-12">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Do not have an account? Sign up here!", new_registration_path(resource_name) %><br />
      <% end -%>
    </p>
  </div>
