<div class="col-sm-12" id="signup-links">
  <p>
    <div class="col-sm-12">
      <%- if controller_name != 'sessions' %>
        <%= link_to "Already have an account? Login!", new_session_path(resource_name) %><br />
      <% end -%>
    </p>
  </div>
