<div class="col-md-12 blog">
  <div class="blog-panel">
    <div class="col-sm-12 title">
      <i class="fa fa-newspaper-o fa-5x"></i>
    </div>
    <div class="col-sm-12 body">
      <h3>You have not created any blog posts.</h3>
      <h4>It is not required to use this feature, however it is a great tool to announce: upcoming events, sales, and exciting news!</h4>
    </div>
  </div>
</div>
