<h1>New Post</h1>
<div class="container" id="post-new">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="newpost-panel">
        <%= render 'form' %>
      </div>
      <hr>
      <div class="back">
        <%= link_to "Dont want to post something? Let's go back!", posts_path %>
      </div>
    </div>
  </div>
</div>
