// Registration Page

#new-registration {
  background-color: #F7F9FA;
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid #CFD5DB;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
#new-registration .devise-signup {
 background-color: #4A90E2;
 color: #fff;
 border-color: #4A90E2;
}

#signup-links {
 margin-top: 20px;
 text-align: center;
}
// Forgot Password Page

#forgot-password {
  background-color: #F7F9FA;
  padding-top: 10px;
  border-radius: 5px;
}
