// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Product page index
#new-product {
  padding-left: 40%;
}

.product-title {
  font-size: 1.3em;
  text-align: center;
}
.product-thumbnail {
  width: 200px;
  height: auto;
}

.product-show-edit-delete {
  text-align: center;
}

.product-show-edit-delete a:hover {
  color: red;
  text-decoration: none;
  background-color: white;
}
// new product page

#new-product .btn-primary {
  color: white;
}

#new-page {
  padding-left: 40%;
  padding-bottom: 60px;
}

#new-page .btn-primary {
  color: white;
}

// navigation

#search-form {
  padding-top: 10px;
}

// show product page

#show-button .btn-primary {
  color: white;
  
}
