// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Typography
h1 {
  font-family: futura, sans-serif;
  color: red;
  text-align: center;
}
// Navigation
.navbar-nav {
  float: right;
}
// Body Text Area
#body-area {
  padding-top: 50px;
}

// Footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  
}
.footer-text {
  float: left;
}
