// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Typography
h1 {
  font-family: futura, sans-serif;
  color: red;
  text-align: center;
}

h2 {
  font-family: futura, sans-serif;
  text-align: center;
}

p {
  font-family: futura, sans-serif;
}
// Navigation
.navbar-nav {
  float: right;
}
// Body Text Area
#body-area {
  padding-top: 50px;
}

.site-logo {
padding-left: 40%;
width: 70px;
height: auto;
}

// Footer
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  background-color: black;

}
.footer-text {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

// Contact Page

#contact-page {
  text-align: center;
}

#contact-page a:hover {
  color: red;
  background-color: white;
  text-decoration: none;
}
