<h1>New Product</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="new-product-form">
      <div class="col-sm-12" id="new-product-title">
        <i class="fa fa-plus fa-5x"></i>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
<hr>
<div class="container" id="new-page">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>
