<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="footer-text">Copyright &copy; Clementine Courier 2015</p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4" id="social-media">
        <a href="#"><i class="fa fa-facebook-official fa-2x" id="social-media"></i> </a>
        <a href="#"> <i class="fa fa-instagram fa-2x" id="social-media"></i></a>
      </div>
    </div>
  </div>
</footer>
